:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}
body{
  font-family: 'Inter', sans-serif;
  background-color: var(--tg-theme-bg-color);
}